[submodule "src/common/nbhashmap"]
	path = src/common/nbhashmap
	url = https://github.com/AK2000/nbhashmap.git
	branch=master
	ignore=untracked
[submodule "deps/uthash"]
	path = deps/uthash
	url = git@github.com:troydhanson/uthash.git
	ignore=untracked
[submodule "deps/libatomic_ops"]
	path = deps/libatomic_ops
	url = git@github.com:ivmai/libatomic_ops.git
	ignore=untracked
[submodule "rust/libmcl-sys/mcl"]
	path = rust/libmcl-sys/mcl
	url = git@github.com:pnnl/mcl.git
	branch = rustdev
